<section>
	<div class="contenido">
		<div class="contentInput">
			<form action="" method="get" onsubmit="buscar(this,event)">
				<input type="text" value="" name="s" placeholder="Buscar">
				<input type="submit" value="">
			</form>
		</div>
		<div class="contentResult">
			<p style="text-align: center;padding-bottom: 30px;">buscar Estaciones de radio o podcast<br>en <span style="color: #f00; ">Mi</span>Radio Emisoras</p>
			
			<% if (q!='') {%>
			<lista-resultado></lista-resultado>
			<script>document.querySelector('lista-resultado').reset('<%- q %>')</script>
			<%}%>

		</div>
	</div>
</section>