<section id="banner-top">
	<div class="contenido">
		<div class="col col-left">
			<p>Deportes en vivo 2,<br>música, noticias y<br>podcasts <i class="flecha"></i></p>
			<div class="search">
				<i class="icon-search "></i><input type="text" value="" placeholder="Empieza a buscar ahora" onchange="location.href='/buscar/?s='+this.value">
			</div>
			
		</div>
		<div class="col col-rigth">
			<img src="/img/Group 1.png" alt="">
		</div>
	 <div class="col movil">
			<div class="one">

			</div>
			<div class="two"></div>
		</div> 
	</div>
</section>
<section id="resultSearch">
	
	<div class="contenido">
		<div class="title"></div>
		<div class="content" style="display: flex;flex-direction: row;flex-wrap: wrap;"></div>
	</div>
</section>
<section id="nuevo">
	<div class="contenido">
		<div class="col col-left desktop">
			<p>Nuevo</p>
			<p>MiRadio Emisoras<br>online gratis</p>
		</div>
		<div class="col col-left movil">
			<p>MiRadio Emisoras online gratis</p>
		</div>
		<div class="col col-rigth">
			<p>	Personaliza tu experiencia! <br>Disfruta de una experiencia sin interrupciones en todos los dispositivos y recomendaciones personalizadas basadas en tu escucha (Solo toma 30 segundos).
			</p>
<!-- 			<button class="btn">
				<div class="btn-content">
					<p>Crear Cuenta</p>	
				</div>
			</button> -->
			<a class="btn" href="">
				<div class="btn-content">
					<p>Crear Cuenta</p>	
				</div>
			</a>
		</div>
	
	</div>
</section>
<section id="emisoras">
	<article>
		<h1>Recientes</h1>
		<div class="contenedor" id="stationNew">
			<div class="slider-btn">
				
			</div>
		</div>
	</article>
	<article>
		<h1>Estaciones Populares en tu zona</h1>
		<div class="contenedor" id="stationPop">
			<div class="slider-btn">
				
			</div>
		</div>
	</article>
	<article>
		<h1>Noticias Populares en tu zona</h1>
		<div class="contenedor" id="newsPop">
			<div class="slider-btn">
				
			</div>
		</div>
	</article>
	<article>
		<h1>Podcasts más populares en tu zona</h1>
		<div class="contenedor" id="podsPop">
			<div class="slider-btn">
				
			</div>
		</div>
	</article>
</section>
<section>
	<div class="contenido">
		<div class="bannerOpciones">
			<img src="/img/exitos.png" alt="">
		</div>
		<div class="content">
			<p>ESCUCHA EN TODAS PARTES</p>
			<p>Disfruta de tu audio exactamente donde, cuando y como quieras. MIRadio Emisoras está disponible en cientos de dispositivos domésticos,  portátiles, y funciona con Alexa y Google Home.</p>
		</div>
		<div class="iconsApps">
			<img src="/img/gp.png" alt="">
			<img src="/img/as.png" alt="">
		</div>
	</div>
</section>

