<section>
	<div class="contenido">
		
<p>Términos de Uso – México</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>Este sitio o aplicación es propiedad de o está administrado por (“MiRadio Emisoras”), que forman parte del grupo de empresas de MiRadio Emisoras, que incluye otras marcas de entretenimiento de calidad tales como la radiodifusión y estaciones de radio por Internet, Radio, cada una de las cuales opera o administra uno o más sitios Web o aplicaciones (cada uno, un “Sitio de MiRadio Emisoras,” y colectivamente que ofrece este Sitio de Miradio Emisoras y servicios relacionados para su uso personal solamente y no comercial y usted está sujeto al cumplimiento de este Acuerdo de Términos de Uso (el “Acuerdo”). Por favor, lea este Acuerdo cuidadosamente antes de usar nuestro Sitio de MiRadio Emisoras . El uso de estos Sitios de MiRadio Emisoras constituye su aceptación a estar obligado a cumplir con el presente Acuerdo, sin limitación, restricción o cambio. Si en algún momento usted no acepta todos los términos y condiciones de este Acuerdo, usted debe suspender inmediatamente el uso de este Sitio de MiRadio Emisoras. Este acuerdo establece las políticas de MiRadio Emisoras con respecto a sus operaciones de nuestro Sitio de MiRadio Emisoras. Otras políticas rigen las operaciones no relacionadas con Internet de MiRadio Emisoras.</p>

<p>Ciertos servicios ofrecidos por éste y / u otros Sitios de MiRadio Emisoras (cada uno, un “Servicio de Internet de MiRadio Emisoras,” y colectivamente “Servicios de Internet), y ciertas áreas dentro de éste y / u otros Sitios de MiRadio Emisoras pueden regirse por términos adicionales (“Términos Adicionales”) presentados junto con esos productos o servicios. Usted debe aceptar los Términos Adicionales antes de usar esas áreas o Servicios de Internet de MiRadio Emisoras. Los Términos Adicionales y este Acuerdo, en conjunto, se aplicarán al uso de esas áreas o Servicios de Internet de Mi Radio Emisoras. En caso de una contradicción irreconciliable entre los Términos Adicionales y este Acuerdo, los Términos Adicionales prevalecerán.</p>

<p>USTED NO PUEDE USAR CUALQUIER SITIO DE MIRADIO EMISORAS PARA CUALQUIER PROPÓSITO QUE SEA ILEGAL O PROHIBIDO POR ESTE ACUERDO O POR LA LEGISLACIÓN APLICABLE EN LA JURISDICCIÓN EN LA QUE USTED SE ENCUENTRE Y / O CUALQUIER OTRO TÉRMINO ADICIONAL APLICABLE. EL ACCESO A CUALQUIER SITIO DE MiRadio Emisoras PUEDE SER TERMINADO INMEDIATAMENTE&nbsp;POR MiRadio Emisoras, EN CUALQUIER MOMENTO SI USTED NO CUMPLE CON LAS DISPOSICIONES DE ESTE ACUERDO Y / O CUALQUIER TÉRMINO ADICIONAL APLICABLE, O POR CUALQUIER OTRA RAZÓN, O SIN CAUSA ALGUNA.</p>

<p>Al usar este Sitio de MiRadio Emisoras, usted declara y garantiza que: (a) usted es un residente legal de los Estados Unidos Mexicanos, (b) que es mayor de edad conforme a la legislación aplicable en su jurisdicción de residencia y cuenta con la capacidad legal para obligarse en los términos del presente, (c) usted posee o tiene la suficiente autorización para usar la computadora, aparatos móviles, tecnología o cualquier otro aparato que utilice para acceder a este Sitio de MiRadio Emisoras (colectivamente, “Aparato”), y (d) usted tendrá acceso y uso de este Sitio de MiRadio Emisoras, de acuerdo con este Acuerdo.</p>

<p>Al ver o escuchar este contenido para adultos, usted asegura que es mayor de edad y que el contenido es aceptable para usted. El software de filtración está disponible comercialmente el cual puede usarse para excluir contenido que no es aceptable para usted. Este software puede impedir la visualización de todo o parte del contenido del Sitio.</p>

<p>Términos y usós MiRadio Emisoras</p>
<h3>Fecha de la última actualización: 13 de septiembre de 2021</h3>
					
	</div>
</section>